body{
	margin: 0;
	font-family: ;
	font-size: 20px;
	line-height: 30px;
}


header{
	background-color: #6495ED;
	text-align: center;
	padding-top: 50px;
	padding-bottom: 50px;
}

h1, h2{
	font-family: ;
	text-transform: uppercase;
}


header h1{
	color: white;
	font-size: 50px;
}

header img{
	border-radius: 170px;
	width: 300px;
	border: 20px solid white;
}


main{
	max-width: ;
	margin: ;
	padding: ;
}

main img{
	max-width: 100%;
}


h2{
	font-size: 30px;
	color: ;
	margin: ;
}

a{
	color: ;
}



footer{
	background-color: ;
	text-align: center;
	color: ;
	padding: 50px;
	text-transform: capitalize;
}

footer p{
	margin: ;
}

footer a{
	color: ;
}

