body{
	margin: 0;
	font-family: ;
	font-size: 20px;
	line-height: 30px;
}


header{
	background-color: #6495ED;
	text-align: center;
	padding-top: 50px;
	padding-bottom: 50px;
}

h1, h2{
	font-family: ;
	text-transform: uppercase;
}


header h1{
	color: ;
	font-size: ;
}

header img{
	border-radius: ;
	width: ;
	border: ;
}


main{
	max-width: ;
	margin: ;
	padding: ;
}

main img{
	max-width: ;
}


h2{
	font-size: ;
	color: ;
	margin: ;
}

a{
	color: ;
}



footer{
	background-color: ;
	text-align: ;
	color: ;
	padding: ;
	text-transform: ;
}

footer p{
	margin: ;
}

footer a{
	color: ;
}

